<!DOCTYPE html>
<html lang="en">
<div class="liked-container" >
  <div class="liked-frame43-liked-list04">
    <span class="connect-text"><span></span></span>

    <div id="posters-container" class="posters-container">
      <div *ngFor="let recipe of recipes">
        <img
          [src]="recipe.posterUrl"
          alt="{{ recipe.title }}"
          class="poster"
          (click)="openDeleteRecipeDialog(recipe.id)"
        />
        <button *ngIf="selectedRecipeId === recipe.id" class="delete-button" (click)="deleteRecipe(recipe.id)">Delete {{recipe.title}}</button>
      </div>
  </div>
</div>
</div>
</html>
