<!DOCTYPE html>
<html lang="en">

<div class="shake-container">
  <div class="shake-frame43-shake-result05">
    <img
      src="assets/img/shakeButton.webp"
      alt="Button Shake"
      class="shake-it-button"
      routerLink="/shake"
    />
    <div class="movie-container"  onclick="toggleMovieContainer()">
      <div class="home-poster">
        <img
          src=""
          alt="Poster"/>
      </div>
      <div class="home-info">
        <span class="home-text"><span></span></span>
        <span class="title"><span>Title</span></span>
        <span class="description"><span>Synopsis</span></span></div>
    </div>
  </div>
</div>
<div class="exit_flip">
</div>
</html>
