@media only screen and (min-width: 1192px) {
  #infoC{
    display: none;
  }

  .shake-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100%;
    align-items: center;
    flex-direction: column;
  }
  .shake-frame43-shake-result05 {
    width: 100%;
    height: 83.5vh;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    justify-content: flex-start;
    background-color: #FFF5E4;
  }
  .movie-container {
    position: relative;
    flex-wrap: wrap;
    padding-left: 32vw;
    padding-right: 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
  }
  .home-info {
    width: 27vw;
    height: auto;
    display: flex;
    flex: 1;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    background-color: #FFE3E1;
    padding: 2rem;
    overflow: auto;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
  }
  .home-poster {
    width: 27vw;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex: 1;
    background-color: #FFD1D1;
    object-fit: cover;
  }
  .home-poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .home-frame43-home06 {
    width: 100%;
    /*min-height: 1024px;*/
    height: 83.5vh;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    justify-content: flex-start;
    background-color: rgba(217, 182, 139, 1);
  }
  .home-text {
    top: 462px;
    left: 579px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 64px;
    font-style: Regular;
    text-align: left;
    font-family: JetBrains Mono;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1191px){
  #infoC{
    display: none;
  }
  .shake-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100%;
    align-items: center;
    flex-direction: column;
  }
  .shake-frame43-shake-result05 {
    width: 100%;
    height: 86vh;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    justify-content: flex-start;
    background-color: #FFF5E4;
  }
  .movie-container {
    position: relative;
    flex-wrap: wrap;
    padding-left: 25vw;
    padding-right: 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
  }
  .home-info {
    width: 380px;
    height: auto;
    display: flex;
    flex: 1;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    background-color: #FFE3E1;
    padding: 2rem;
    overflow: auto;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
  }
  .home-poster {
    width: 380px;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex: 1;
    background-color: #FFD1D1;
    object-fit: cover;
  }
  .home-poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .home-frame43-home06 {
    width: 100%;
    /*min-height: 1024px;*/
    height: 700px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    justify-content: flex-start;
    background-color: #FFF5E4;
  }
  .home-text {
    top: 462px;
    left: 579px;
    color: rgba(255, 255, 255, 1);
    height: 341px;
    width: 504px;
    position: absolute;
    font-size: 64px;
    font-style: Regular;
    text-align: left;
    font-family: JetBrains Mono;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
}
@media only screen and (max-width: 600px) {
  .exit_flip{
    height: 101px;
    width: 360px;
    background-color: #FFF5E4;
    bottom:1px;
  }
  .shake-frame43-shake-result05 {
    width: 100%;
    height: 600px;
    display: block;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    background-color: #FFF5E4;
  }
  .movie-container {
    position: relative;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 360px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    top: 100px;
    padding-left: 15px;
  }
  /*.home-info {
    display:none;
    position: relative;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    width: 360px;
  }*/
  .flip {
    transform: rotateY(180deg);
  }
  .home-poster, .home-info {
    position: absolute;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    top: 0;
    padding-left: 0;
    width: 324px;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex: 1;
    background-color: #FFD1D1;
    object-fit: cover;
  }
  .home-info{
    transform: rotateY(180deg);
    background-color: #cb5050;
  }

  .home-poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .home-frame43-home06 {
    width: 100%;
    /*max-width: 360px;*/
    /*min-height: 1024px;*/
    height: 700px;
    display: block;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    background-color: #FFF5E4;
  }
  .home-text {
    color: rgba(255, 255, 255, 1);
    position: absolute;
    font-size: 64px;
    font-style: Regular;
    text-align: left;
    font-family: JetBrains Mono;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    background-color: #cb5050;

  }
}
