<!DOCTYPE html>
<html lang="en">

<div class="shake-container">
  <div class="shake-frame43-shake-result05">
    <img
      src="assets/img/shakeButton.webp"
      alt="Button Shake"
      class="shake-it-button"
      (click)="loadMovieData()"
    />
    <div class="movie-container"  onclick="toggleMovieContainer()">
      <div class="home-poster">
        <img
          [src]="posterUrl"
          alt="Poster for {{ title }}"/>
      </div>
      <div class="home-info">
        <span class="home-text"><span></span></span>
        <span class="title"><span>{{ title }}</span></span>
        <span class="description"><span>{{synopsis}}</span></span></div>
    </div>
  </div>
</div>
<div class="exit_flip">
</div>
</html>
