@media only screen and (min-width: 1192px){
  .liked-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100%;
    align-items: center;
    flex-direction: column;
  }
  .liked-frame43-liked-list04 {
    width: 100%;
    /*height: 950px;*/
    height: 83.5vh;;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    justify-content: flex-start;
    background-color: #FFF5E4;
  }

  .connect-text {
    top: 5vh;
    left: 20vw;
    color: #800020;
    /*height: auto;*/
    width: auto;
    position: absolute;
    font-size: 3vh;
    font-style: Regular;
    text-align: center;
    align-items: center;
    font-family: Inter;
  }

  .posters-container {
    padding-top: 15vh;
    padding-bottom: 15vh;
    margin-left: 20vw;
    /*margin-bottom: 450px;*/
    /*overflow-x: scroll;*/
    overflow-y: auto;
    flex-wrap: wrap;
    display: flex;
    /*padding: 10px;*/
    gap: 5vh;
    width: 100%;
    height: 100%;
  }

  .poster {
    width: 30vh; /* Width of each poster */
    height: auto;
  }

  .poster-container {
    position: relative;
    display: inline-block;
  }

  .delete-button {
    position: absolute;
    top: 12vh;
    right: 5vw;
    font-size: 2vh;
    transform: translate(-50%, -50%);
    padding: 2vw 3vh;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4vh;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }

  .delete-button:hover {
    opacity: 0.8;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1191px){
  .liked-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100%;
    align-items: center;
    flex-direction: column;
  }
  .liked-frame43-liked-list04 {
    width: 100%;
    height: 700px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    justify-content: flex-start;
    background-color: #FFF5E4;
  }

  .connect-text {
    top: 5vh;
    left: 25vw;
    color: #800020;
    /*height: auto;*/
    width: auto;
    position: absolute;
    font-size: 25px;
    font-style: Regular;
    text-align: center;
    align-items: center;
    font-family: Inter;
  }
  .posters-container {
    padding-top: 55vh;
    margin-left: 25vw;
    margin-bottom: 50vh;
    overflow-y: auto;
    flex-wrap: wrap;
    display: flex;
    gap: 5vh;
    width: 100%;
    height: 1024px;
  }

  .poster {
    width: 20vw; /* Width of each poster */
    height: auto;
  }

}

@media only screen and (max-width: 600px) {
  .liked-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100%;
    align-items: center;
    flex-direction: column;
  }
  .liked-frame43-liked-list04 {
    width: 100%;
    height: 700px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    justify-content: flex-start;
    background-color: #FFF5E4;  }

  .connect-text {
    top: 10px;
    /*left: 350px;*/
    left: 5%;
    color: #800020;
    /*height: auto;*/
    width: auto;
    position: absolute;
    font-size: 25px;
    font-style: Regular;
    text-align: center;
    align-items: center;
    font-family: Inter;
  }

  .posters-container {
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: 17px;
    /*margin-bottom: 450px;*/
    /*overflow-x: scroll;*/
    overflow-y: auto;
    flex-wrap: wrap;
    display: flex;
    /*padding: 10px;*/
    gap: 10px;
    width: 100%;
    height: 1024px;
  }

  .poster {
    width: 326px; /* Width of each poster */
    height: auto;
  }

}


