<!DOCTYPE html>
<html lang="en">
<div class="liked-container">
  <div class="liked-frame43-liked-list04">
    <span class="connect-text"><span></span></span>
    <img
      src="assets/img/shakeButton.webp"
      alt="ButtonShakeItPlaceholder7011"
      class="shake-it-button"
      routerLink="/shake"
    />
    <div id="posters-container" class="posters-container">
      <img *ngFor="let movie of movies" [src]="movie.posterUrl" alt="{{ movie.title }}" class="poster">
    </div>
  </div>
</div>
</html>
