@media only screen and (min-width: 1192px){
  html {
    line-height: 1.15;
    scroll-behavior: smooth;
    font-family: Inter;
    font-size: 16px;
    width: 100%;
    height: 100%;
    background-color: #FF9494;
  }
  body {
    margin: 0;
  }
  * {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
  }


  .title {
    /*top: 250px;*/
    /*left: 983px;*/
    top: 10%;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 38px;
    font-style: Regular;
    text-align: center;
    font-family: JetBrains Mono;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    margin-bottom: 1rem;
    max-width: 100%;
    word-wrap: break-word;
  }
  .description {
    top: 30%;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 26px;
    font-style: Regular;
    text-align: center;
    font-family: JetBrains Mono;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    max-width: 80%;
    line-height: 1.5;
    word-wrap: break-word;
  }
  .shake-it-button {
    width: 5vw;
    height: 9vh;
    top: 15vh;
    right: 3vw;
    position: fixed;
    z-index: 10;
  }
  .shake-it-button:hover {
    cursor: pointer;
  }
  .home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100%;
    align-items: center;
    flex-direction: column;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1191px){
  html {
    line-height: 1.15;
    scroll-behavior: smooth;
    font-family: Inter;
    font-size: 16px;
    width: 100%;
    height: 100%;
  }
  body {
    margin: 0;
  }
  * {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
  }
  .title {
    /*top: 250px;*/
    /*left: 983px;*/
    top: 6%;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 30px;
    font-style: Regular;
    text-align: center;
    font-family: JetBrains Mono;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    margin-bottom: 1rem;
    max-width: 100%;
    word-wrap: break-word;
  }
  .description {
    top: 28%;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 30 px;
    font-style: Regular;
    text-align: center;
    font-family: JetBrains Mono;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    max-width: 80%;
    line-height: 1.5;
    word-wrap: break-word;
  }
  .shake-it-button {
    width: 68px;
    height: 68px;
    top: 11vh;
    right: 3vw;
    position: fixed;
    z-index: 10;
  }
  .shake-it-button:hover {
    cursor: pointer;
  }
  .home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    height: 950px;
    align-items: center;
    flex-direction: column;
  }

}

@media only screen and (max-width: 600px){
  html {
    line-height: 1.15;
    scroll-behavior: smooth;
    font-family: Inter;
    font-size: 16px;
    width: 100%;
    height: 100%;
  }
  body {
    margin: 0;
  }
  * {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
  }


  .title {
    top: -77px;
    left: 0px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 38px;
    font-style: Regular;
    text-align: center;
    font-family: JetBrains Mono;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    margin-bottom: 1rem;
    max-width: 325px;
    word-wrap: break-word;
    align-content: center;
    width: 100%;
  }
  .description {
    color: rgba(0, 0, 0, 1);
    top:50px;
    left: 0px;
    height: auto;
    position: absolute;
    font-size: 24 px;
    font-style: Regular;
    text-align: center;
    font-family: JetBrains Mono;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    max-width: 325px;
    line-height: 1.5;
    word-wrap: break-word;
  }
  .shake-it-button {
    display:none;
    width: 68px;
    height: 68px;
    top: 11vh;
    right: 3vw;
    position: fixed;
    z-index: 10;
  }
  .shake-it-button:hover {
    cursor: pointer;
  }
  .home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100%;
    align-items: center;
    flex-direction: column;

  }
}

