@media only screen and (min-width: 1192px){
  .connect-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100%;
    align-items: center;
    flex-direction: column;
  }
  .connect-frame43-conect03 {
    width: 100%;
    /*height: 950px;*/
    height: 83.5vh;;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    justify-content: flex-start;
    background-color: rgba(217, 182, 139, 1);
  }
  .connect-button {
    top: 50vh;
    left: 50%;
    width: 14vw;
    height: 4vh;
    position: absolute;
    border-radius: 500px;
    cursor: pointer;
    background-color: rgba(217, 4, 22, 1);
    color: white;
    font-size: 2vh;
  }
  .connect-button:hover {
    background-color: #ff7f50; /* Slightly lighter orange color for hover effect */
  }
  .connect-username {
    top: 41vh;
    left: 44%;
    width: 26vw;
    height: 3vh;
    position: absolute;
    border-radius: 500px;
  }
  .username-text {
    top: 34vh;
    left: 49%;
    color: #680d0d;
    height: auto;
    position: absolute;
    font-size: 3vh;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .connect-poster01 {
    top: 3vh;
    left: 27%;
    width: 13vw;
    height: 38vh;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(12, 53, 89, 1);
  }
  .connect-poster01 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .connect-poster04 {
    top: 3vh;
    left: 75%;
    width: 13vw;
    height: 38vh;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(217, 165, 102, 1);
  }
  .connect-poster04 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .connect-poster05 {
    top: 44vh;
    left: 27%;
    width: 13vw;
    height: 38vh;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(13, 13, 13, 1);
  }
  .connect-poster05 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .connect-poster08 {
    top: 44vh;
    left: 75%;
    width: 13vw;
    height: 38vh;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(242, 203, 5, 1);
  }
  .connect-poster08 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .error-message {
    top: 46vh;
    left: 51.5%;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 2vh;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
  }
}
/*---------------TABLET------------------------*/
@media only screen and (min-width: 600px) and (max-width: 1191px){
  .connect-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100%;
    align-items: center;
    flex-direction: column;
  }
  .connect-frame43-conect03 {
    width: 100%;
    height: 700px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    justify-content: flex-start;
    background-color: rgba(217, 182, 139, 1);
  }
  .connect-button {
    top: 428px;
    left: 623px;
    width: 186px;
    height: 25px;
    position: absolute;
    border-radius: 500px;
    cursor: pointer;
    background-color: rgba(217, 4, 22, 1);
    color: white;
  }
  .connect-button:hover {
    background-color: #ff7f50; /* Slightly lighter orange color for hover effect */
  }
  .connect-username {
    top: 340px;
    left: 501px;
    width: 430px;
    height: 25px;
    position: absolute;
    border-radius: 500px;
  }
  .username-text {
    top: 284px;
    left: 571px;
    color: #680d0d;
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .connect-poster01 {
    top: 22px;
    left: 274px;
    width: 203px;
    height: 320px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(12, 53, 89, 1);
  }
  .connect-poster01 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .connect-poster04 {
    top: 22px;
    left: 949px;
    width: 203px;
    height: 320px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(217, 165, 102, 1);
  }
  .connect-poster04 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .connect-poster05 {
    top: 359px;
    left: 274px;
    width: 203px;
    height: 320px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(13, 13, 13, 1);
  }
  .connect-poster05 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .connect-poster08 {
    top: 359px;
    left: 949px;
    width: 203px;
    height: 320px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(242, 203, 5, 1);
  }
  .connect-poster08 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .error-message {
    top: 388px;
    left: 609px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
  }
}
@media only screen and (max-width: 600px){
  .connect-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100%;
    align-items: center;
    flex-direction: column;
  }
  .connect-frame43-conect03 {
    width: 100%;
    height: 700px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    justify-content: flex-start;
    background-color: rgba(217, 182, 139, 1);
  }
  .connect-button {
    top: 610px;
    left: 118px;
    width: 111px;
    height: 25px;
    font-size: 18px;
    text-align: center;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 500px;
    background-color: rgba(217, 182, 139, 1);
    color: #680d0d;
    transition-duration: 0.4s;
    border: none;

    margin: 4px 2px;
    cursor: pointer;

    display: inline-block;
    padding: 0px 20px;
  }
  .connect-button:hover {
    background-color: #ff7f50; /* Slightly lighter orange color for hover effect */
  }
  .connect-username {
    top: 550px;
    left: 65px;
    width: 225px;
    height: 20px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 500px;
    background-color: rgba(255, 255, 255, 1);
  }
  .username-text {
    top: 520px;
    left: 75px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .connect-poster01 {
    top: 39px;
    left: 0px;
    width: 360px;
    height: 450px;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(242, 203, 5, 1);
  }
  .connect-poster01 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .connect-poster04 {
    top: 22px;
    left: 949px;
    width: 203px;
    height: 320px;
    display: none;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(217, 165, 102, 1);
  }
  .connect-poster04 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .connect-poster05 {
    top: 359px;
    left: 274px;
    width: 203px;
    height: 320px;
    display: none;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(13, 13, 13, 1);
  }
  .connect-poster05 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .connect-poster08 {
    top: 359px;
    left: 949px;
    width: 203px;
    height: 320px;
    display: none;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(242, 203, 5, 1);
  }
  .connect-poster08 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .error-message {
    top: 388px;
    left: 609px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
  }

}
