<!DOCTYPE html>
<html lang="en">

<div class="connect-container">
  <div class="connect-frame43-conect03">
    <button class="connect-button" routerLink="/liked">Connect</button>
    <span class="username-text"><span>Your friend's username</span></span>
    <label>
      <input type="text" placeholder="Username" class="connect-username" />
    </label>
    <span class="error-message"><span></span></span>
    <div class="connect-poster01"><img
      src=""
      alt="Poster"/></div>
    <div class="connect-poster04"><img
      src=""
      alt="Poster"/></div>
    <div class="connect-poster05"><img
      src=""
      alt="Poster"/></div>
    <div class="connect-poster08"><img
      src=""
      alt="Poster"/></div>
  </div>
</div>
</html>

