<!DOCTYPE html>
<html lang="en">
<head>
  <title>Movie Match - Login</title>
  <meta property="og:title" content="Movie Match - Login" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <meta property="twitter:card" content="summary_large_image" />
</head>

<body>
<div>
  <div class="login-container">
    <div class="login-frame43-login02">
      <img
        alt="LoginFrame7015"
        src="assets/img/loginBackground.png"
        class="login-login-frame"
      />
      <label>
        <input type="text" placeholder="Email" class="login-input-username" [(ngModel)]="email" />
      </label>
      <span class="login-text"><span>Email</span></span>
      <label>
        <input type="password" placeholder="Password" class="login-input-pwd" [(ngModel)]="password" />
      </label>
      <span class="login-text2"><span>Password</span></span>
      <span class="error-message"><span></span></span>
      <button class="login-button-confirm-login" (click)="login()">Login</button>
    </div>
  </div>
</div>

</body>
</html>
