@media only screen and (min-width: 1192px){
  .login-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: rgba(217, 182, 139, 1);
  }
  .login-frame43-login02 {
    width: 100%;
    height: 1024px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .login-login-frame {
    top: 0px;
    left: 336px;
    width: 767px;
    height: 1024px;
    position: absolute;
  }
  .login-input-confirm-pwd {
    top: 461px;
    left: 443px;
    width: 553px;
    height: 25px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 500px;
    background-color: rgba(255, 255, 255, 1);
  }
  .login-input-email {
    top: 541px;
    left: 443px;
    width: 553px;
    height: 25px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 500px;
    background-color: rgba(255, 255, 255, 1);
  }
  .login-text {
    top: 252px;
    left: 456px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 40px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .login-text2 {
    top: 332px;
    left: 456px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 40px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .login-text3 {
    top: 412px;
    left: 456px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 40px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .login-text4 {
    top: 492px;
    left: 456px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 40px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .error-message {
    top: 600px;
    left: 456px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
  }
  .login-button-confirm-login {
    top: 659px;
    left: 582px;
    width: 276px;
    height: 29px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 500px;
    background-color: rgba(217, 182, 139, 1);
    color: #680d0d;
    transition-duration: 0.4s;
    border: none;

    margin: 4px 2px;
    cursor: pointer;

    display: inline-block;
    padding: 0px 20px;
  }
  .login-button-confirm-login:hover {
    background-color: #ff7f50; /* Slightly lighter orange color for hover effect */
  }
  .login-input-pwd {
    top: 381px;
    left: 443px;
    width: 553px;
    height: 25px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 500px;
    background-color: rgba(255, 255, 255, 1);
  }
  .login-input-username {
    top: 301px;
    left: 443px;
    width: 553px;
    height: 25px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 500px;
    background-color: rgba(255, 255, 255, 1);
  }
}
/*-------------------TABLET----------------------------------------*/
@media only screen and (min-width: 600px) and (max-width: 1191px){
  .login-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: rgba(217, 182, 139, 1);
  }
  .login-frame43-login02 {
    width: 100%;
    height: 834px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .login-login-frame {
    top: 0px;
    left: 284px;
    width: 625px;
    height: 834px;
    position: absolute;
  }
  .login-button-confirm-login {
    top: 537px;
    left: 484px;
    width: 276px;
    height: 29px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 500px;
    background-color: rgba(217, 182, 139, 1);
    color: #680d0d;
    transition-duration: 0.4s;
    border: none;

    margin: 4px 2px;
    cursor: pointer;

    display: inline-block;
    padding: 0px 20px;
  }
  .login-button-confirm-login:hover {
    background-color: #ff7f50; /* Slightly lighter orange color for hover effect */
  }
  .login-input-username {
    top: 250px;
    left: 371px;
    width: 451px;
    height: 25px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 500px;
    background-color: rgba(255, 255, 255, 1);
  }
  .login-input-pwd {
    top: 315px;
    left: 371px;
    width: 451px;
    height: 25px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 500px;
    background-color: rgba(255, 255, 255, 1);
  }
  .login-input-confirm-pwd {
    top: 380px;
    left: 371px;
    width: 451px;
    height: 25px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 500px;
    background-color: rgba(255, 255, 255, 1);
  }
  .login-input-email {
    top: 446px;
    left: 371px;
    width: 451px;
    height: 25px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 500px;
    background-color: rgba(255, 255, 255, 1);
  }
  .login-text {
    top: 205px;
    left: 382px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 40px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .login-text2 {
    top: 270px;
    left: 382px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 40px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .login-text3 {
    top: 336px;
    left: 382px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 40px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .login-text4 {
    top: 401px;
    left: 382px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 40px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .error-message {
    top: 600px;
    left: 456px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
  }
}

@media only screen and (max-width: 600px){
  .login-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: rgba(217, 182, 139, 1);
  }
  .login-frame43-login02 {
    width: 100%;
    height: 800px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .login-login-frame {
    top: 0px;
    left: 0px;
    width: 625px;
    height: 800px;
    position: absolute;
  }
  .login-button-confirm-login {
    top: 527px;
    left: 105px;
    width: 111px;
    height: 25px;
    font-size: 18px;
    text-align: center;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 500px;
    background-color: rgba(217, 182, 139, 1);
    color: #680d0d;
    transition-duration: 0.4s;
    border: none;

    margin: 4px 2px;
    cursor: pointer;

    display: inline-block;
    padding: 0px 20px;
  }
  .login-button-confirm-login:hover {
    background-color: #ff7f50; /* Slightly lighter orange color for hover effect */
  }
  .login-input-username {
    top: 236px;
    left: 50px;
    width: 225px;
    height: 20px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 500px;
    background-color: rgba(255, 255, 255, 1);
  }
  .login-input-pwd {
    top: 297px;
    left: 50px;
    width: 225px;
    height: 20px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 500px;
    background-color: rgba(255, 255, 255, 1);
  }
  .login-input-confirm-pwd {
    top: 361px;
    left: 50px;
    width: 225px;
    height: 20px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 500px;
    background-color: rgba(255, 255, 255, 1);
  }
  .login-input-email {
    top: 423px;
    left: 50px;
    width: 225px;
    height: 20px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 500px;
    background-color: rgba(255, 255, 255, 1);
  }
  .login-text {
    top: 209px;
    left: 56px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .login-text2 {
    top: 270px;
    left: 56px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .login-text3 {
    top: 331px;
    left: 56px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .login-text4 {
    top: 393px;
    left: 56px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .error-message {
    top: 393px;
    left: 61px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
  }

}
