<!DOCTYPE html>
<html lang="en">
<head>
  <title>Movie Match - Register</title>

  <meta property="og:title" content="Movie Match - Login" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <meta property="twitter:card" content="summary_large_image" />

</head>

<body>
<div id="header"></div>

<div>
  <div class="login-container">
    <div class="login-frame43-login02">
      <img
        alt="LoginFrame7015"
        src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/caf96603-63d6-4f31-b863-d71a717907be/16a076fa-2563-4468-bf49-877399555b9b?org_if_sml=15256&amp;force_format=original"
        class="login-login-frame"
      />
      <label>
        <input type="text" placeholder="Username" class="login-input-username" />
      </label>
      <label>
        <input type="text" placeholder="Password" class="login-input-pwd" />
      </label>
      <label>
        <input type="text" placeholder="Confirm Password" class="login-input-confirm-pwd" />
      </label>
      <label>
        <input type="text" placeholder="Email" class="login-input-email" />
      </label>
      <span class="login-text"><span>Username</span></span>
      <span class="login-text2"><span>Password</span></span>
      <span class="login-text3"><span>Confirm Password</span></span>
      <span class="login-text4"><span>Email</span></span>
      <span class="error-message"><span></span></span>
      <button class="login-button-confirm-login" routerLink="/home">Login</button>
    </div>
  </div>
</div>

</body>
</html>
