<!DOCTYPE html>
<html lang="en">
<head>
  <title>Movie Match</title>
  <meta property="og:title" content="Movie Match" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <meta property="twitter:card" content="summary_large_image" />
</head>
<body>

<div class="landing-page-container">
  <div class="landing-page-frame">
    <img
      alt="LogoPlaceholder2714"
      src="assets/img/cake2.png"
      class="landing-page-logo-placeholder"
    />
    <button class="rounded-button reounded-button-register" routerLink="/register">Register</button>
    <button class="rounded-button reounded-button-login" routerLink="/login">Login</button>
    <span class="landing-page-text"><span>Your Recipes</span></span>

  </div>
</div>
</body>
</html>

