<!DOCTYPE html>
<html lang="en">
<div class="home-frame43-home06">
  <div class="recipe-container">
    <div class="home-poster" >
      <img
        [src]="posterUrl"
        alt="Poster for {{ title }}" class="toggle"/>
    </div>
    <div class="home-info">
      <span class="home-text"><span></span></span>
      <span class="title"><span>{{title}}</span></span>
      <span class="description"><span>{{desc}}</span></span></div>

    <span class="arrow green-arrow" (click)="addDataToFirestore()">I like it</span>
    <span class="arrow red-arrow" (click)="loadRecipeData()">Not for me</span>
  </div>
</div>
<input type="checkbox" id="toggle" class="visually-hidden">

</html>


