<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<div class="menu-options-frame">
  <button class="button-rounded button-home"  routerLink="/home">Home</button>
  <button class="button-rounded button-liked" routerLink="/liked" >Liked List</button>
  <button class="button-rounded button-connect" routerLink="/shake">Random</button>
</div>
<nav role="navigation" class="menu2">
  <div id="menuToggle">
    <input type="checkbox" />
    <ul id="menu">
      <button class="button-roundedP button-homeP"  routerLink="/home">Home</button>
      <button class="button-roundedP button-likedP" routerLink="/liked" >Liked List</button>
      <button class="button-roundedP button-connectP" routerLink="/shake">Get random recipe</button>
      <button class="button-roundedP button-shake" routerLink="/shake">Shake It!</button>
    </ul>
  </div>
</nav>

</html>
